defaults: &defaults
  twilio:
    account_sid: ACXXXXXXXXXXXXXXXXXXXXXXXX
    auth_token:  XXXXXXXXXXXXXXXXXXXXXXXXXX
  user:
    email:       you@example.com
    password:    password123

development:
  <<: *defaults
